body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1275px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u301_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1165px;
  height:3247px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u301 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:321px;
  width:1165px;
  height:3247px;
}
#u301_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1165px;
  word-wrap:break-word;
}
#u302_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:500px;
}
#u302 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:483px;
  width:300px;
  height:500px;
}
#u302_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u303_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:422px;
}
#u303 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:1090px;
  width:300px;
  height:422px;
}
#u303_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u304_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:400px;
}
#u304 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:1678px;
  width:290px;
  height:400px;
}
#u304_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u305_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:500px;
}
#u305 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:2172px;
  width:290px;
  height:500px;
}
#u305_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u306_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:475px;
}
#u306 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:2769px;
  width:290px;
  height:475px;
}
#u306_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u308_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1175px;
  height:170px;
  background:inherit;
  background-color:rgba(221, 234, 204, 1);
  border:none;
  border-radius:15px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u308 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:111px;
  width:1175px;
  height:170px;
}
#u308_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u309_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1175px;
  height:170px;
  background:inherit;
  background-color:rgba(112, 174, 39, 1);
  border:none;
  border-radius:15px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
}
#u309 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:100px;
  width:1175px;
  height:170px;
  font-size:36px;
}
#u309_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u310_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:105px;
  background:inherit;
  background-color:rgba(221, 234, 204, 1);
  border:none;
  border-radius:15px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#70AE27;
  text-align:center;
}
#u310 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:133px;
  width:130px;
  height:105px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#70AE27;
  text-align:center;
}
#u310_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:20px;
  width:130px;
  word-wrap:break-word;
}
#u311_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u311 {
  border-width:0px;
  position:absolute;
  left:127px;
  top:43px;
  width:433px;
  height:38px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u311_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:432px;
  white-space:nowrap;
}
#u312_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:87px;
  background:inherit;
  background-color:rgba(112, 174, 39, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Impact';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u312 {
  border-width:0px;
  position:absolute;
  left:328px;
  top:142px;
  width:193px;
  height:87px;
  font-family:'Impact';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u312_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:87px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Impact';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u312.mouseOver {
}
#u312_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:87px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Impact';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u312.selected {
}
#u312_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:87px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Impact';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u312.disabled {
}
#u312_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:189px;
  word-wrap:break-word;
}
#u312_ref {
  border-width:0px;
  position:absolute;
  left:513px;
  top:219px;
  width:1px;
  height:1px;
}
#u313_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:87px;
  background:inherit;
  background-color:rgba(112, 174, 39, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Impact';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u313 {
  border-width:0px;
  position:absolute;
  left:567px;
  top:142px;
  width:193px;
  height:87px;
  font-family:'Impact';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u313_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:87px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Impact';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u313.mouseOver {
}
#u313_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:87px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Impact';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u313.selected {
}
#u313_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:87px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Impact';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u313.disabled {
}
#u313_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:189px;
  word-wrap:break-word;
}
#u313_ref {
  border-width:0px;
  position:absolute;
  left:752px;
  top:219px;
  width:1px;
  height:1px;
}
#u314_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:87px;
  background:inherit;
  background-color:rgba(112, 174, 39, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Impact';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u314 {
  border-width:0px;
  position:absolute;
  left:805px;
  top:142px;
  width:193px;
  height:87px;
  font-family:'Impact';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u314_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:87px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Impact';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u314.mouseOver {
}
#u314_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:87px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Impact';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u314.selected {
}
#u314_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:87px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Impact';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u314.disabled {
}
#u314_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:189px;
  word-wrap:break-word;
}
#u314_ref {
  border-width:0px;
  position:absolute;
  left:990px;
  top:219px;
  width:1px;
  height:1px;
}
#u315_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:87px;
  background:inherit;
  background-color:rgba(112, 174, 39, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Impact';
  font-weight:400;
  font-style:normal;
  font-size:33px;
  color:#FFFFFF;
}
#u315 {
  border-width:0px;
  position:absolute;
  left:1044px;
  top:141px;
  width:193px;
  height:87px;
  font-family:'Impact';
  font-weight:400;
  font-style:normal;
  font-size:33px;
  color:#FFFFFF;
}
#u315_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:87px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Impact';
  font-weight:400;
  font-style:normal;
  font-size:33px;
  color:#FFFFFF;
}
#u315.mouseOver {
}
#u315_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:87px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Impact';
  font-weight:400;
  font-style:normal;
  font-size:33px;
  color:#FFFFFF;
}
#u315.selected {
}
#u315_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:87px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Impact';
  font-weight:400;
  font-style:normal;
  font-size:33px;
  color:#FFFFFF;
}
#u315.disabled {
}
#u315_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:189px;
  word-wrap:break-word;
}
#u315_ref {
  border-width:0px;
  position:absolute;
  left:1229px;
  top:218px;
  width:1px;
  height:1px;
}
