body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1275px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u261_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1175px;
  height:170px;
  background:inherit;
  background-color:rgba(221, 234, 204, 1);
  border:none;
  border-radius:15px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u261 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:111px;
  width:1175px;
  height:170px;
}
#u261_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u262_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1175px;
  height:170px;
  background:inherit;
  background-color:rgba(112, 174, 39, 1);
  border:none;
  border-radius:15px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
}
#u262 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:100px;
  width:1175px;
  height:170px;
  font-size:36px;
}
#u262_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u263_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:105px;
  background:inherit;
  background-color:rgba(221, 234, 204, 1);
  border:none;
  border-radius:15px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#70AE27;
  text-align:center;
}
#u263 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:133px;
  width:130px;
  height:105px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#70AE27;
  text-align:center;
}
#u263_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:20px;
  width:130px;
  word-wrap:break-word;
}
#u264_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u264 {
  border-width:0px;
  position:absolute;
  left:127px;
  top:43px;
  width:433px;
  height:38px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u264_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:432px;
  white-space:nowrap;
}
#u265_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:87px;
  background:inherit;
  background-color:rgba(112, 174, 39, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Impact';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u265 {
  border-width:0px;
  position:absolute;
  left:328px;
  top:142px;
  width:193px;
  height:87px;
  font-family:'Impact';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u265_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:87px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Impact';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u265.mouseOver {
}
#u265_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:87px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Impact';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u265.selected {
}
#u265_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:87px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Impact';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u265.disabled {
}
#u265_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:189px;
  word-wrap:break-word;
}
#u265_ref {
  border-width:0px;
  position:absolute;
  left:513px;
  top:219px;
  width:1px;
  height:1px;
}
#u266_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:87px;
  background:inherit;
  background-color:rgba(112, 174, 39, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Impact';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u266 {
  border-width:0px;
  position:absolute;
  left:567px;
  top:142px;
  width:193px;
  height:87px;
  font-family:'Impact';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u266_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:87px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Impact';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u266.mouseOver {
}
#u266_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:87px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Impact';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u266.selected {
}
#u266_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:87px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Impact';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u266.disabled {
}
#u266_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:189px;
  word-wrap:break-word;
}
#u266_ref {
  border-width:0px;
  position:absolute;
  left:752px;
  top:219px;
  width:1px;
  height:1px;
}
#u267_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:87px;
  background:inherit;
  background-color:rgba(112, 174, 39, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Impact';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u267 {
  border-width:0px;
  position:absolute;
  left:805px;
  top:142px;
  width:193px;
  height:87px;
  font-family:'Impact';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u267_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:87px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Impact';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u267.mouseOver {
}
#u267_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:87px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Impact';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u267.selected {
}
#u267_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:87px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Impact';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u267.disabled {
}
#u267_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:189px;
  word-wrap:break-word;
}
#u267_ref {
  border-width:0px;
  position:absolute;
  left:990px;
  top:219px;
  width:1px;
  height:1px;
}
#u268_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:87px;
  background:inherit;
  background-color:rgba(112, 174, 39, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Impact';
  font-weight:400;
  font-style:normal;
  font-size:33px;
  color:#FFFFFF;
}
#u268 {
  border-width:0px;
  position:absolute;
  left:1044px;
  top:141px;
  width:193px;
  height:87px;
  font-family:'Impact';
  font-weight:400;
  font-style:normal;
  font-size:33px;
  color:#FFFFFF;
}
#u268_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:87px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Impact';
  font-weight:400;
  font-style:normal;
  font-size:33px;
  color:#FFFFFF;
}
#u268.mouseOver {
}
#u268_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:87px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Impact';
  font-weight:400;
  font-style:normal;
  font-size:33px;
  color:#FFFFFF;
}
#u268.selected {
}
#u268_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:87px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Impact';
  font-weight:400;
  font-style:normal;
  font-size:33px;
  color:#FFFFFF;
}
#u268.disabled {
}
#u268_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:189px;
  word-wrap:break-word;
}
#u268_ref {
  border-width:0px;
  position:absolute;
  left:1229px;
  top:218px;
  width:1px;
  height:1px;
}
#u269_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1165px;
  height:338px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u269 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:291px;
  width:1165px;
  height:338px;
}
#u269_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1165px;
  word-wrap:break-word;
}
